<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774671333053-k5ej6cpbf0m3qukre6ef5cf991j1gjrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774671333053-k5ej6cpbf0m3qukre6ef5cf991j1gjrq</string>
	<key>API_KEY</key>
	<string>AIzaSyAOPx91fmXJgY-u8-Iea6iXxxwaMbt9J5U</string>
	<key>GCM_SENDER_ID</key>
	<string>774671333053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yakupcaglan.Omdb</string>
	<key>PROJECT_ID</key>
	<string>omdb-mvvm</string>
	<key>STORAGE_BUCKET</key>
	<string>omdb-mvvm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:774671333053:ios:d9f97d9980ef8d2f4729d4</string>
	<key>DATABASE_URL</key>
	<string>https://omdb-mvvm.firebaseio.com</string>
</dict>
</plist>
